/*.frame{
margin:auto;
width:1000px;
background-color:transparent;
padding: 6px;
}*/
.nav{
    margin:auto;
    width:1000px;
}
#til p{
    position:absolute;
    margin:auto;
    left:auto;
    margin-left: 200px;
    
}
.dialog{
    margin-top:-68px;
    position:relative;
    z-index:50;
}
.about{
    position:relative;
    margin-right:600px;
    margin-top:-90px;
    z-index:0;
}
.hire{
    position:relative;
    margin-right:600px;
    margin-top:-130px;
    z-index:0;
}
.port{
    position:relative;
    margin-right:600px;
    margin-top:-96px;
    z-index:0;
}

body {
    background-color:transparent;
    margin:auto 0px;
    padding:0px;
    text-align:center;
	}

span {
    font-family: Helvetica;
    font-size: 15px;
    text-align: center;
    margin:auto;
    color:#999999;
    }
.logo {
    margin:auto;
    width:1000px;
    text-align:center;
    letter-spacing:2px;
}
.box{
    margin:auto;
    //background-color: transparent;
    //width: 300px;
    //height: 300px;
}
/*.separator{
    margin:auto;
    margin-top:-10px;
    width:300px;
    height:2px;
    background-color:lightgrey;*/
}
.work{
    font-size: 11px;
    text-align: center;
    word-spacing: 2px;
    font-family: helvetica;
    }
#one{
    width:6px;
    height:6px;
    Border-radius:100px;
    background-color:yellow;
    }
.tableone{
    margin:auto;
    border-spacing:5px;
    }
.link{
    border-radius:2px;
    box-shadow: 0px 1px 3px #888888;
    background-color:#F2F2F2;
    width:350px;
    height:30px;
    margin-left:700px;
    z-index:100;
    position:relative;
}
/*#lists a:hover{
    text-shadow: 0px 1px 2px white;
}*/
#lists a{
    font-size:15px;
}
.link li{
    text-align:center;
    display:inline;
    padding:0px;
    color:grey;
    }
#lists{
    letter-spacing:3px;
    text-align:center;
    padding:0px;
    padding-top:8px;
    margin:auto;
    }
a{
    letter-spacing:2px;
    font-size: 13px;
    font-family:helvetica;
    font-weight:100;
    color: #58585b;
    line-height:0px;
    text-decoration:none;
}
strong{
    font-family:Arial italic;
    color:white;
}
#title{
    text-align:center;
    margin-top:68px;
    /*word-spacing:35px;*/
    }
/*#title p{
    
    font-family:helvetica;
    display:inline;
    font-size:20px;
    color:grey;
    }*/
#title p{
    font-family:helvetica;
    display:inline;
    font-size:20px;
    color:grey;
    }
.portfolios{
    margin:auto;
    width:1000px;
    padding:auto;
    margin-top:-25px;
    }
.logoport{
    padding:auto;
    margin:auto 0px;
    font-family:helvetica;
    }

.portfolios2{
    display:inline-block;
    margin:auto 0px;
    border-spacing:30px;
    z-index:0;
    position:relative;
    }
#folios{
    width:120px;
    height:120px;
    Border-radius:100px;
    background-color:transparent;
}
/*.portfolios3{
    border-spacing:26px;
    margin:auto;
    z-index:0;
 }*/
.illuport p{
    margin-left:10px;
    font-size:15px;
    font-family:helvetica;
    }
 
#illufolios{
    margin-right:60px;
    margin-left:0;
    background-color:transparent;
}
 
#illufolios2{
    border-collapse:collapse;
    margin-right:0;
    margin-left:60px;
    background-color: transparent;
}

#color{
    box-shadow: 0px 0px 8px #888888;
    padding-top:2px;
    height:350px;
    background-color:#F2F2F2;
}
/*#title2{
    text-align:center;
    margin-top:30px;
    word-spacing:35px;
    }*/
#title2 p{
    font-family:helvetica;
    display:inline;
    color:grey;
    word-spacing:8px;
    }
.content{
    width:auto;
    margin:auto;
    }
.content p{
    font-family:helvetica;
    display:inline-block;
    font-size:15px;
    color:grey;
    word-spacing:8px;
    }

#color3{
    box-shadow: 0px 0px 8px #888888;
    height:210px;
    background-color:#F2F2F2;
}
#title3{
    padding-top:32px;
    position:relative;
    text-align:center;
    margin-top:70px;
    word-spacing:35px;
    }
#title3 p{
    font-family:helvetica;
    display:inline;
    color:grey;
    word-spacing:8px;
    }
.content2{
    margin-top:30px;
    width:800px;
    margin: 0 auto;
    }
.content2 p{
    font-family:helvetica;
    display:inline-block;
    font-size:15px;
    color:grey;
    word-spacing:8px;
    }

/*#color3{
    height:200px;
    box-shadow: 0px 0px 8px #888888;
    background-color:#F2F2F2;
}
#title3{
    padding-top:32px;
    text-align:center;
    margin-top:70px;
    word-spacing:35px;
    }
#title3 p{
    font-family:helvetica;
    display:inline;
    font-size:15px;
    color:grey;
    word-spacing:8px;
    }
.content2{
    width:800px;
    margin: 0 auto;
    }
.content2 p{
    font-family:helvetica;
    display:inline-block;
    color:grey;
    word-spacing:8px;
    }*/

table.portfolios2 span{
    position:absolute;
    visibility:hidden;
    left:-9999px;
    }

table.portfolios2 img{
/*give the thumbnails a frame*/
background-color:#F2F2F2; /*frame colour*/
padding: 6px; /*frame size*/
/*add a drop shadow to the frame*/
-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
box-shadow: 0 0 6px rgba(132, 132, 132, .75);
/*and give the corners a small curve*/
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 10px;
}


#folios:hover{
    z-index:50;
    cursor:pointer;
}


#folios:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:-235px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:-60px; /*distance from the left of the thumbnail to the left of the popup image*/
}


#folios2:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/ 
visibility:visible;
top:-235px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:100px; /*distance from the left of the thumbnail to the left of the popup image*/
}


#folios2:hover{
z-index:50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/ 
cursor:pointer; /*changes the cursor to a hand*/
}
/***We bring the large image back onto the page by reducing left from -9999px (set in step 2) to figures below***/ 


#folios3:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/ 
visibility:visible;
top:-235px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:260px; /*distance from the left of the thumbnail to the left of the popup image*/
}


#folios3:hover{
z-index: 50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/ 
cursor:pointer; /*changes the cursor to a hand*/
}
/***We bring the large image back onto the page by reducing left from -9999px (set in step 2) to figures below***/ 

#folios4:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/ 
visibility:visible;
top:-235px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:420px; /*distance from the left of the thumbnail to the left of the popup image*/
}


#folios4:hover{
z-index: 50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/ 
cursor:pointer; /*changes the cursor to a hand*/
}
/***We bring the large image back onto the page by reducing left from -9999px (set in step 2) to figures below***/ 


#folios5:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/ 
visibility:visible;
top:-235px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:580px; /*distance from the left of the thumbnail to the left of the popup image*/
}


#folios5:hover{
z-index: 50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/ 
cursor:pointer; /*changes the cursor to a hand*/
}
/***We bring the large image back onto the page by reducing left from -9999px (set in step 2) to figures below***/ 


#folios6:hover{
    z-index:50;
    cursor:pointer;
}


#folios6:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:-67px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:-60px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios7:hover{
    z-index:50;
    cursor:pointer;
}


#folios7:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:-67px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:100px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios8:hover{
    z-index:50;
    cursor:pointer;
}


#folios8:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:-67px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:260px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios9:hover{
    z-index:50;
    cursor:pointer;
}


#folios9:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:-67px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:420px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios10:hover{
    z-index:50;
    cursor:pointer;
}


#folios10:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:-67px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:580px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios11:hover{
    z-index:50;
    cursor:pointer;
}


#folios11:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:102px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:-60px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios12:hover{
    z-index:50;
    cursor:pointer;
}


#folios12:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:102px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:100px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios13:hover{
    z-index:50;
    cursor:pointer;
}


#folios13:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:102px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:260px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios14:hover{
    z-index:50;
    cursor:pointer;
}


#folios14:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:102px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:420px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios15:hover{
    z-index:50;
    cursor:pointer;
}


#folios15:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:102px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:580px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios16:hover{
    z-index:50;
    cursor:pointer;
}


#folios16:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:270px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:-60px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios17:hover{
    z-index:50;
    cursor:pointer;
}


#folios17:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:270px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:100px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios18:hover{
    z-index:50;
    cursor:pointer;
}


#folios18:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:270px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:260px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios19:hover{
    z-index:50;
    cursor:pointer;
}


#folios19:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:270px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:420px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios20:hover{
    z-index:50;
    cursor:pointer;
}


#folios20:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:270px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:580px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios21:hover{
    z-index:50;
    cursor:pointer;
}


#folios21:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:438px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:-60px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios22:hover{
    z-index:50;
    cursor:pointer;
}


#folios22:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:438px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:100px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios23:hover{
    z-index:50;
    cursor:pointer;
}


#folios23:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:438px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:260px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios24:hover{
    z-index:50;
    cursor:pointer;
}


#folios24:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:438px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:420px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios25:hover{
    z-index:50;
    cursor:pointer;
}


#folios25:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:438px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:580px; /*distance from the left of the thumbnail to the left of the popup image*/
}


#folios26:hover{
    z-index:50;
    cursor:pointer;
}

#folios26:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:605px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:-60px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios27:hover{
    z-index:50;
    cursor:pointer;
}


#folios27:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:605px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:100px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios28:hover{
    z-index:50;
    cursor:pointer;
}


#folios28:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:605px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:260px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios29:hover{
    z-index:50;
    cursor:pointer;
}


#folios29:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:605px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:420px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios30:hover{
    z-index:50;
    cursor:pointer;
}


#folios30:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:605px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:580px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios31:hover{
    z-index:50;
    cursor:pointer;
}


#folios31:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:773px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:-60px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios32:hover{
    z-index:50;
    cursor:pointer;
}


#folios32:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:773px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:100px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios33:hover{
    z-index:50;
    cursor:pointer;
}


#folios33:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:773px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:260px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios34:hover{
    z-index:50;
    cursor:pointer;
}


#folios34:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:773px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:420px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#folios35:hover{
    z-index:50;
    cursor:pointer;
}


#folios35:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:773px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:580px; /*distance from the left of the thumbnail to the left of the popup image*/
}



/*#folios30:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
/*visibility:visible;*/
/*top:773px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
/*left:580px; /*distance from the left of the thumbnail to the left of the popup image*/
/*}*/





table.portfolios2 img.two{
/*give the thumbnails a frame*/
background-color:#F2F2F2; /*frame colour*/
padding: 6px; /*frame size*/
/*add a drop shadow to the frame*/
-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
box-shadow: 0 0 6px rgba(132, 132, 132, .75);
/*and give the corners a small curve*/
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 10px;
}





#illufolios:hover{
    z-index:50;
    cursor:pointer;
}


#illufolios:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:893px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:-60px; /*distance from the left of the thumbnail to the left of the popup image*/
}

#illufolios2:hover{
    z-index:50;
    cursor:pointer;
}


#illufolios2:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
visibility:visible;
top:893px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left:376px; /*distance from the left of the thumbnail to the left of the popup image*/
}
