<!DOCTYPE html>

<html>

<head>
<meta charset=utf-8 />
<link type="text/css" rel="stylesheet" href="css/style.css"/>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="js/smoothscroll.js"></script>

</head>
<title>
Hankeens
</title>

<body>
    
<div class="link">
<ul id="lists">
<li><a href="#title" class="smoothScroll">portfolio</a></li>
    &nbsp;
<li><strong>/</strong></li>
    &nbsp;
<li><a href="#title2" class="smoothScroll">about us</a></li>
    &nbsp;
<li><strong>/</strong></li>
    &nbsp;
<li><a href="#title3" class="smoothScroll">hire us</a></li>
</ul>
</div>

<br/><br/><br/><br/><br/><br/>    
    
<!--<div class="frame", align="center">-->
<div class="logo"><img src="img/logo.png"/>
<img class="dialog" src="img/tagline.png"/>
</div>    
<div align="right">
<img class="dialog" src="img/bird.png"/>    
</div>
<div class="box"><a href=""> </a></div>
<!--<p><span> Hankeens Creative Design </span></p>
<div class="separator"></div>
</div>-->

<!--<div class="work">
<table class="tableone">
<tr>
    <th>Graphic Design</th>
    <th><object id="one"></object></th>
    <th>Web Design</th>
    <th><object id="one"></object></th>
    <th>Illustrations</th>
</tr>
</table>
</div>-->
    
<br/><br/><br/><br/>   
    
<div id=color> 
<div id="title2">
<img class="about" src="img/aboutus.png"/>
<!--<p><b>about us</b></p>
<p>///////////////////////////////////////////////////////////////////////////////////////////////////</p>-->
<br/><br/>
<div class="content">
<img src="img/about.png"/>   
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
    
</div>
</div>
</div>
    
<div id="color2">    
<div id="title">
<img class="port" src="img/portfolio.png" />
<!--<p><b>portfolio</b></p>
<p>///////////////////////////////////////////////////////////////////////////////////////////////////</p>-->

<div class="portfolios">
<table border="0" class="portfolios2">
   <tr class="logoport">
   <td colspan="5" align="left"><p><b>Logo design</b></p></td>
   </tr>
   <tr>
        <td><object id="folios"><img src="img/preview/1.png" width="120px" height="120px"/>
<span>
<img src="img/logo/1.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios2"><img src="img/preview/2.png" width="120px" height="120px"/>
<span>
<img src="img/logo/2.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios3"><img src="img/preview/3.png" width="120px" height="120px"/>
<span>
<img src="img/logo/3.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios4"><img src="img/preview/4.png" width="120px" height="120px"/>
<span>
<img src="img/logo/4.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios5"><img src="img/preview/5.png" width="120px" height="120px"/>
<span>
<img src="img/logo/5.png" width="300px" height="300px"/>
</span></object></td>
    </tr>

    <tr>
        <td><object id="folios6"><img src="img/preview/6.png" width="120px" height="120px"/>
<span>
<img src="img/logo/6.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios7"><img src="img/preview/7.png" width="120px" height="120px"/>
<span>
<img src="img/logo/7.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios8"><img src="img/preview/8.png" width="120px" height="120px"/>
<span>
<img src="img/logo/8.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios9"><img src="img/preview/9.png" width="120px" height="120px"/>
<span>
<img src="img/logo/9.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios10"><img src="img/preview/10.png" width="120px" height="120px"/>
<span>
<img src="img/logo/10.png" width="300px" height="300px"/>
</span></object></td>
    </tr>

    <tr>
        <td><object id="folios11"><img src="img/preview/11.png" width="120px" height="120px"/>
<span>
<img src="img/logo/11.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios12"><img src="img/preview/12.png" width="120px" height="120px"/>
<span>
<img src="img/logo/12.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios13"><img src="img/preview/13.png" width="120px" height="120px"/>
<span>
<img src="img/logo/13.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios14"><img src="img/preview/14.png" width="120px" height="120px"/>
<span>
<img src="img/logo/14.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios15"><img src="img/preview/15.png" width="120px" height="120px"/>
<span>
<img src="img/logo/15.png" width="300px" height="300px"/>
</span></object></td>
        </tr>
    
       <tr>
        <td><object id="folios16"><img src="img/preview/16.png" width="120px" height="120px"/>
<span>
<img src="img/logo/16.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios17"><img src="img/preview/17.png" width="120px" height="120px"/>
<span>
<img src="img/logo/17.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios18"><img src="img/preview/18.png" width="120px" height="120px"/>
<span>
<img src="img/logo/18.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios19"><img src="img/preview/19.png" width="120px" height="120px"/>
<span>
<img src="img/logo/19.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios20"><img src="img/preview/20.png" width="120px" height="120px"/>
<span>
<img src="img/logo/20.png" width="300px" height="300px"/>
</span></object></td>
        </tr>

    <tr>
        <td><object id="folios21"><img src="img/preview/21.png" width="120px" height="120px"/>
<span>
<img src="img/logo/21.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios22"><img src="img/preview/22.png" width="120px" height="120px"/>
<span>
<img src="img/logo/22.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios23"><img src="img/preview/23.png" width="120px" height="120px"/>
<span>
<img src="img/logo/23.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios24"><img src="img/preview/24.png" width="120px" height="120px"/>
<span>
<img src="img/logo/24.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios25"><img src="img/preview/25.png" width="120px" height="120px"/>
<span>
<img src="img/logo/25.png" width="300px" height="300px"/>
</span></object></td>
        </tr>

    <tr>
        <td><object id="folios26"><img src="img/preview/26.png" width="120px" height="120px"/>
<span>
<img src="img/logo/26.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios27"><img src="img/preview/27.png" width="120px" height="120px"/>
<span>
<img src="img/logo/27.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios28"><img src="img/preview/28.png" width="120px" height="120px"/>
<span>
<img src="img/logo/28.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios29"><img src="img/preview/29.png" width="120px" height="120px"/>
<span>
<img src="img/logo/29.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios30"><img src="img/preview/30.png" width="120px" height="120px"/>
<span>
<img src="img/logo/30.png" width="300px" height="300px"/>
</span></object></td>
        </tr>
    
    <tr>
        <td><object id="folios31"><img src="img/preview/31.png" width="120px" height="120px"/>
<span>
<img src="img/logo/31.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios32"><img src="img/preview/32.png" width="120px" height="120px"/>
<span>
<img src="img/logo/32.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios33"><img src="img/preview/33.png" width="120px" height="120px"/>
<span>
<img src="img/logo/33.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios34"><img src="img/preview/34.png" width="120px" height="120px"/>
<span>
<img src="img/logo/34.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios35"><img src="img/preview/35.png" width="120px" height="120px"/>
<span>
<img src="img/logo/35.png" width="300px" height="300px"/>
</span></object></td>
        </tr>
    
   <table border="0" class="portfolios2">
   <tr class="logoport">
   <td colspan="5" align="left"><p><b>App icon design</b></p></td>
   </tr>

    
   <tr>
        <td><object id="folios"><img src="img/apps_preview/1.png" width="120px" height="120px"/>
<span>
<img src="img/apps/1.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios2"><img src="img/apps_preview/2.png" width="120px" height="120px"/>
<span>
<img src="img/apps/2.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios3"><img src="img/apps_preview/3.png" width="120px" height="120px"/>
<span>
<img src="img/apps/3.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios4"><img src="img/apps_preview/4.png" width="120px" height="120px"/>
<span>
<img src="img/apps/4.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios5"><img src="img/apps_preview/5.png" width="120px" height="120px"/>
<span>
<img src="img/apps/5.png" width="300px" height="300px"/>
</span></object></td>
    </tr>

    <tr>
        <td><object id="folios6"><img src="img/apps_preview/6.png" width="120px" height="120px"/>
<span>
<img src="img/apps/6.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios7"><img src="img/apps_preview/7.png" width="120px" height="120px"/>
<span>
<img src="img/apps/7.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios8"><img src="img/apps_preview/8.png" width="120px" height="120px"/>
<span>
<img src="img/apps/8.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios9"><img src="img/apps_preview/9.png" width="120px" height="120px"/>
<span>
<img src="img/apps/9.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios10"><img src="img/apps_preview/10.png" width="120px" height="120px"/>
<span>
<img src="img/apps/10.png" width="300px" height="300px"/>
</span></object></td>
    </tr>

    <tr>
        <td><object id="folios11"><img src="img/apps_preview/11.png" width="120px" height="120px"/>
<span>
<img src="img/apps/11.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios12"><img src="img/apps_preview/12.png" width="120px" height="120px"/>
<span>
<img src="img/apps/12.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios13"><img src="img/apps_preview/13.png" width="120px" height="120px"/>
<span>
<img src="img/apps/13.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios14"><img src="img/apps_preview/14.png" width="120px" height="120px"/>
<span>
<img src="img/apps/14.png" width="300px" height="300px"/>
</span></object></td>
        </tr>
      
      <!--<tr class="illuport">
    <td><p><b>Illustrations</b></p></td>
</tr>
<tr>
        <td align="center" colspan="5">
        <object id="illufolios"><img class="two" src="img/Thumbnail2.png" width="300px" height="200px"/>
<span>
<img class="two" src="img/Thumbnail2.png" width="500px" height="400px"/>
</span></object>
        <object id="illufolios2"><img class="two" src="img/Thumbnail2.png" width="300px" height="200px"/>
<span>
<img class="two" src="img/Thumbnail2.png" width="500px" height="400px"/>
</span></object>
            
        </td>
        </tr>-->
    

</table>
    
    </div>
    </div>
    </div>
    

<!--<div id="title2">

<p><b>about us</b></p>
<p>///////////////////////////////////////////////////////////////////////////////////////////////////</p>
</div>
<div class="content">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
</div>-->
<div id="color3">
<div id="title3">
<img  align="center" class="hire" src="img/hireus.png"/>
<!--<p><b>hire us</b></p>
<p>///////////////////////////////////////////////////////////////////////////////////////////////////</p>-->
<div class="content2">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
</div>
</div>
</div>
    
</body>
</html>
    
