<!DOCTYPE html>

<html>

<head>
<meta charset=utf-8 />
<link type="text/css" rel="stylesheet" href="css/style.css"/>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="js/smoothscroll.js"></script>

</head>
<title>
Hankeens
</title>

<body>

<div class="frame", align="center">

<div class="logo"><img src="img/logo.png" width="900px" height="319px"/>
<div class="box"><a href=""> </a></div>
<p><span> Hankeens Creative Design </span></p>
<div class="separator"></div>
</div>

<div class="work">
<table class="tableone">
<tr>
    <th>Graphic Design</th>
    <th><object id="one"></object></th>
    <th>Web Design</th>
    <th><object id="one"></object></th>
    <th>Illustrations</th>
</tr>
</table>
</div>

<div class="link">
<ul id="lists">
<li><a href="#title" class="smoothScroll"><b>works</b></a></li>
<li><strong>/</strong></li>
<li><a href="#title2" class="smoothScroll"><b>about us</b></a></li>
<li><strong>/</strong></li>
<li><a href="#title3" class="smoothScroll"><b>contact us</b></a></li>
</ul>
</div>

<div id="title">

<p><b>works</b></p>
<p>///////////////////////////////////////////////////////////////////////////////////////////////////</p>
</div>

<div class="portfolios">
<table border="0" class="portfolios2">
   <tr class="logoport">
   <td><p><b>Logo design</b></p></td>
   </tr>
   <tr>
        <td><object id="folios"><img src="img/Bite_p.png" width="120px" height="120px"/>
<span>
<img src="img/Bite_p.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios2"><img src="img/Thumbnail.png" width="120px" height="120px"/>
<span>
<img src="img/Thumbnail.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios3"><img src="img/Thumbnail.png" width="120px" height="120px"/>
<span>
<img src="img/Thumbnail.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios4"><img src="img/Thumbnail.png" width="120px" height="120px"/>
<span>
<img src="img/Thumbnail.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios5"><img src="img/Thumbnail.png" width="120px" height="120px"/>
<span>
<img src="img/Thumbnail.png" width="300px" height="300px"/>
</span></object></td>
    </tr>

    <tr>
        <td><object id="folios6"><img src="img/Thumbnail.png" width="120px" height="120px"/>
<span>
<img src="img/Thumbnail.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios7"><img src="img/Thumbnail.png" width="120px" height="120px"/>
<span>
<img src="img/Thumbnail.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios8"><img src="img/Thumbnail.png" width="120px" height="120px"/>
<span>
<img src="img/Thumbnail.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios9"><img src="img/Thumbnail.png" width="120px" height="120px"/>
<span>
<img src="img/Thumbnail.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios10"><img src="img/Thumbnail.png" width="120px" height="120px"/>
<span>
<img src="img/Thumbnail.png" width="300px" height="300px"/>
</span></object></td>
    </tr>

    <tr>
        <td><object id="folios11"><img src="img/Thumbnail.png" width="120px" height="120px"/>
<span>
<img src="img/Thumbnail.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios12"><img src="img/Thumbnail.png" width="120px" height="120px"/>
<span>
<img src="img/Thumbnail.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios13"><img src="img/Thumbnail.png" width="120px" height="120px"/>
<span>
<img src="img/Thumbnail.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios14"><img src="img/Thumbnail.png" width="120px" height="120px"/>
<span>
<img src="img/Thumbnail.png" width="300px" height="300px"/>
</span></object></td>
        <td><object id="folios15"><img src="img/Thumbnail.png" width="120px" height="120px"/>
<span>
<img src="img/Thumbnail.png" width="300px" height="300px"/>
</span></object></td>
        </tr>
      
      <tr class="illuport">
    <td><p><b>Illustrations</b></p></td>
</tr>
<tr>
        <td align="center" colspan="5">
        <object id="illufolios"><img class="two" src="img/Thumbnail2.png" width="300px" height="200px"/>
<span>
<img class="two" src="img/Thumbnail2.png" width="500px" height="400px"/>
</span></object>
        <object id="illufolios2"><img class="two" src="img/Thumbnail2.png" width="300px" height="200px"/>
<span>
<img class="two" src="img/Thumbnail2.png" width="500px" height="400px"/>
</span></object>
            
        </td>
            
        </tr>

</table>

<div id="title2">

<p><b>about us</b></p>
<p>///////////////////////////////////////////////////////////////////////////////////////////////////</p>
</div>
<div class="content">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
</div>

<div id="title3">

<p><b>contact us</b></p>
<p>///////////////////////////////////////////////////////////////////////////////////////////////////</p>
</div>
<div class="content2">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
</div>
</div>
</div>
</body>
</html>
